<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="assets/global.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='styles/global.css') }}" rel="stylesheet" type="text/css" />


</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4"><img src="/static/logo.png" style="max-width: 10vh;"></span>
        </a>

        <p> <a href="/">Home</a> | <a href="/about">About</a> | <a href="/dashboard">Dashboard</a> | <a href="/buyRequest">Buy</a> | <a
                href="/sellRequest">Sell</a></p>

    </header>


    <div class="container-sm" style="max-width: 400px;margin-top: 15vh;">
        <h1>Login</h1>
        <div id="forms">
            <form id="loginform" method='post' action="/login">
                <input type="text" class="form-control" id="username" name = "username" placeholder="username">
            <div style = "height: 15px;"></div>
                <input type="password" class="form-control" id="password" name = "password" placeholder="password">
            <div style = "height: 15px;"></div>
            <input type="submit">
            </form>
        </div>
        <a href="/signup">Sign up</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>